
.small-desktop(@rules) {
  @media (max-width: 1280px) { @rules(); }
}

.desktop(@rules) {
  @media (min-width: 1281px) { @rules(); }
}

// Fonts
@base-font: 'Open Sans', 'OpenSansFallback', sans-serif;
@header-font: 'Oswald', 'OswaldFallback', sans-serif;

// Colors
@header-color: #008B8B;
@header-text-color: #FFF;
@border-color: #696969;
@table-striped-color: rgba(35, 41, 53, .05);
@text-color-faded: #959595;
@text-color-faded-hover: #666;
@text-color-disabled: #CDCDCD;
@general-background-color: #FFF;

// Wide desktop
@page-width-desktop: 1400px;
@page-min-width-desktop: 1280px;
@table-font-size-desktop: .9rem;

// Small desktop
@page-width-sm-desktop: 1050px;
@page-min-width-sm-desktop: 1050px;
@table-font-size-sm-desktop: .75rem;
