{
  "parser": "babel-eslint",
  "rules": {
    "switch-colon-spacing": 0,
    "require-jsdoc": 0,
    "prefer-rest-params": 0,

    "max-len": ["warn", {"code": 120, "tabWidth": 2, "ignoreUrls": true}],
    "comma-dangle": ["warn", "never"],
    "block-spacing": ["warn", "always"],
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "space-before-function-paren": ["warn", { "anonymous": "always", "named": "never", "asyncArrow": "never" }],
    "quotes": ["warn", "single"],
    "no-unused-vars": ["warn"],
    "semi": ["warn"],
    "no-invalid-this": ["off"],
    "spaced-comment": ["warn"]
  },
  "extends": ["google"],
  "plugins": ["html"]
}