<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&subset=cyrillic" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <title>NHL statistics</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>